{% extends "base.html" %}

{% block title %}Education · My Résumé{% endblock %}

{% block content %}
  <h2>Education</h2>

  <section>
    <h3>Brooklyn College (CUNY)</h3>
    <p><em>M.S. Computer Science (transfered)</em><br>
       2024 – 2025</p>
  </section>

  <section>
    <h3>NYU Tandon School of Engineering</h3>
    <p><em>M.S. Computer Science (in progress)</em><br>
       2025 – Present</p>
  </section>

  <section>
    <h3>Undergraduate Degree</h3>
    <p><em>B.A. Communications & Marketing</em><br>
       Completed prior to graduate studies</p>
  </section>
{% endblock %}
